.PlaceandDate {
  display: flex;
  padding-top: 10px;
  flex-direction: column;
  align-items: center;
  height: 40%;
}
.location {
  align-content: left;
  padding: 0;
}
input {
  position: relative;
  display: inline-block;
  font-size: 20px;
  box-sizing: border-box;
  transition: 0.5s;
}
input[type="text"] {
  background: #fff;
  width: 280px;
  height: 50px;
  outline: none;
  padding: 0 25px;
  border: none;
  border-radius: 25px 0 0 25px;
}

.button {
  display: inline-block;
  font-size: 20px;
  box-sizing: border-box;
  transition: 0.5s;
  position: relative;
  left: -5px;
  border-radius: 0 25px 25px 0;
  width: 200px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #df0101;
}

.button:hover {
  background: #be81f7;
}
