.Weather {
  width: 100%;
  height: 40vh;
  margin: 0;
  display: flex;
  justify-content: center;
}
.map {
  width: 100%;
  height: 60vh;
  display: flex;

  justify-content: center;
}
.Head {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
  flex-direction: column;
}

.adv {
  width: 40%;
  height: 100%;
  display: flex;

  justify-content: right;
  align-content: right;
}
.jac {
  display: flex;
  width: 40%;
  height: 100%;
}
.dummy {
  width: 40%;
  height: 100%;
}
